div, span, header, footer, section, article, iframe
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box

html
  height: 100%

body
  min-height: 100%
  color: #666
  font-size: 16px
  font-weight: normal
  font-family: Roboto, Helvetica, Arial, sans-serif
  line-height: 1.5
  background: #fff

::selection
  color #fff
  background #e2007a

h1, h2, h3, h4, h5, h6
  font-weight: bold

h1
  color #333
  border-bottom 1px solid #ddd
  padding-bottom 5px

h2
  color #333
  border-bottom 1px dashed #ddd
  padding-bottom 5px

p
  text-indent 1em

li
  padding 3px 0

pre, code
  font-family: Consolas, 'Source Code Pro', monospace
  background: #272822
  color: #fff
  border-radius 4px

code
  padding: 4px

pre > code
  display: block;
  overflow-x: scroll;
  padding: 10px;

blockquote
  border-left: 4px solid #666
  padding-left: 20px
  font-style: italic

a
  color #199ad5
  text-decoration none
  -webkit-touch-callout none
  -webkit-tap-highlight-color rgba(0,0,0,0)

a:hover,
a:active,
a.is-active
  color #e2007a
  background-image linear-gradient(#ccc 50%, transparent 50%)
  background-repeat repeat-x
  background-position 0 1.175em
  background-size 1px 2px
  text-shadow 0 1px white, 0 -1px white, 1px 0 white, 1px 1px white, 1px -1px white, -1px 0 white, -1px 1px white, -1px -1px white
