.accent
  font-family: 'Coming Soon', cursive

.container
  display: block
  @media screen and (min-width: 960px)
    padding-left: 33%

.aside
  display: block
  color: #fff
  background: rgba(105, 57, 166, 1)
  @media screen and (min-width: 960px)
    position: fixed
    top: 0
    left: 0
    bottom: 0
    width: 33%

  h1
    font-size: 48px
  h2
    font-size: 36px
  h3
    font-size: 24px
  a
    color: #fff
    text-decoration: underline
  a:hover,
  a:active,
  a.active
    color: #fff
    text-decoration: none

.will-hidden
  @media screen and (max-width: 960px)
    display: none !important

.aside-bricks
  display: block
  &.bricks--dark
    background: rgba(47, 11, 136, 1)
  &.bricks--normal
    background: rgba(76, 34, 151, 1)
  &.bricks--light
    background: rgba(105, 57, 166, 1)

.aside-bricks::after
  clear: both
  display: table
  content: ''

.aside-bricks__brick
  display: inline-block
  float: left
  &.brick--left
    text-align: left
  &.brick--center
    text-align: center
  &.brick--right
    text-align: right

  &.brick--12
    width: 100%
  &.brick--6
    width: 50%
  &.brick--4
    width: 33%
  &.brick--3
    width: 25%
  &.brick--2
    width: 12.5%
  &.brick--1
    width: 6.25%

  &.bricks--dark
    background: rgba(47, 11, 136, 1)
  &.bricks--dark:hover,
  &.bricks--dark.is-active
    background: rgba(47, 11, 136, 0.95)
  &.bricks--normal
    background: rgba(76, 34, 151, 1)
  &.bricks--normal:hover,
  &.bricks--normal.is-active
    background: rgba(76, 34, 151, 0.95)
  &.bricks--light
    background: rgba(105, 57, 166, 1)
  &.bricks--light:hover,
  &.bricks--light.is-active
    background: rgba(105, 57, 166, 0.95)

.aside-bricks__brick-inner
  display: block
  padding: 10px

.main
  display: block

.main-content
  padding: 10px
  
.main-post
  padding: 10px 0
  p, h1, h2, h3, h4, pre
    padding: 0 10px
  ul, ol
    padding-left: 2em

.post-share
  display: table

.post-share__item
  display: table-cell
  padding: 5px 

.post-nav
  display: table

.post-nav__item
  display: table-cell
  padding: 5px

.fb-like-box
  background: #fff