.h1
  font-size 2em
  font-weight bold

.h2
  font-size 1.5em
  font-weight bold

.h3
  font-size 1.17em
  font-weight bold

.highlight
  background #f3df49

.logo
  width 32px
  height 32px
  vertical-align middle
  margin-right 10px

.header-container
  background #fff

.header
  margin 0 auto
  padding 10px
  max-width 960px

.header-title
  font-size 48px
  font-weight bold
  border-bottom none

.header-menu
  display table

.header-menu__item
  display table-cell
  padding 5px

.footer-container
  background #fff

.footer
  margin 0 auto
  padding 10px
  max-width 960px

.container
  margin 0 auto
  max-width 960px
  display flex
  flex-direction row
  @media screen and (max-width: 640px)
    flex-direction column

.aside
  min-width 320px
  max-width 320px
  margin 0 auto
  @media screen and (max-width: 640px)
    min-width 100%

.aside-content
  padding 10px

.main
  width 100%
  margin 0 auto
  @media screen and (max-width: 640px)
    min-width 100%

.main-content
  padding 10px
  ul, ol
    padding-left 2em

.list
  padding-left 0 !important
  list-style-type none
.list__item
  padding 15px 0

.post-list
  display block

  &::before
    display table
    content ''

  &::after
    display table
    content ''
    clear both

.post-list__item
  display inline-block
  float left
  margin 5px
  width 300px
  height 300px
  @media screen and (max-width: 640px)
    min-width 100%

.post-list__item--no-image
  background #eee

.post-list__item--image
  background-repeat no-repeat
  background-size cover

.post-list__item-title
  display block
  height 100%
  padding 10px
  background rgba(0, 0, 0, 0.5)
  color #fff

.post-share
  display table

.post-share__item
  display table-cell
  padding 5px
  font-size 24px

.post-nav
  display table

.post-nav__item
  display table-cell
  padding 5px

.fb-like-box
  background #fff

.label
  border-radius 4px
  margin 4px
  padding 4px

.label--gray
  color #2e2e2c
  background #eee

.label--red
  color #fff
  background #e2007a

.label--blue
  color #fff
  background #199ad5

.label--yellow
  color #2e2e2c
  background #f3df49

.fa--has-margin
  margin-right 0.3em