{{ define "main" }}
  <main class="Main">
    <h1>Posts</h1>
    {{ $paginator := .Paginate .Site.RegularPages 20 }}
    <ul class="List">
      {{ range $paginator.Pages }}
        <li class="List__Item">
          <span class="Label Label--gray">{{ .Date.Format "2006.01.02" }}</span>
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </li>
      {{ end }}
    </ul>
    <nav class="Pager">
      {{ if .Paginator.HasPrev }}
        <div class="Pager__Item Pager__Item--left">
          <a href="{{ .Paginator.Prev.URL }}">👈 Prev</a>
        </div>
      {{ else }}
      {{ end }}

      {{ if .Paginator.HasNext }}
        <div class="Pager__Item Pager__Item--right">
          <a href="{{ .Paginator.Next.URL }}">Next 👉</a>
        </div>
      {{ else }}
      {{ end }}
    </nav>
  </main>
{{ end }}
