{{ define "main" }}
  <main class="main">
    <h2>Posts</h2>
    {{ $paginator := .Paginate .Site.RegularPages 20 }}
    <ul class="list">
      {{ range $paginator.Pages }}
        <li>
          <span class="label gray">{{ .Date.Format "2006-01-02" }}</span>
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </li>
      {{ end }}
    </ul>
    <nav class="pager">
      <div>
        {{ if .Paginator.HasPrev }}
          <a href="{{ .Paginator.Prev.URL }}">👈 Prev</a>
        {{ else }}
        {{ end }}
      </div>

      <div>
        {{ if .Paginator.HasNext }}
          <a href="{{ .Paginator.Next.URL }}">Next 👉</a>
        {{ else }}
        {{ end }}
      </div>
    </nav>
  </main>
{{ end }}
