.Container {
  background: #fff;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 80rem;
  min-width: 32rem;
}

.Header,
.Main,
.Aside,
.Footer {
  padding: 0 4rem;
}

.Header__Title {
  border-bottom: none;
  font-size: 4.8rem;
  font-weight: bold;
  margin: 1.6rem 0;
  text-decoration: none;
}

.Header__Menu {
  display: flex;
}

.Header__MenuItem {
  padding: 0.8rem;
}

.Main p > img {
  display: block;
  margin: 0 auto;
}

.Media {
  align-items: flex-start;
  display: flex;
}

.Media__figure {
  margin-right: 1rem;
}

.Media__body {
  flex: 1;
}

.Media__title {
  color: #333;
  font-size: 2.4rem;
  font-weight: bold;
}

.Banner {
  display: flex;
  justify-content: center;
}

.Banner__Item {
  padding: 0.8rem;
}

@media (max-width: 320px) {
  .Header,
  .Main,
  .Aside,
  .Footer {
    padding: 0 1.6rem;
  }
}

@media (min-width: 321px) and (max-width: 480px) {
  .Header,
  .Main,
  .Aside,
  .Footer {
    padding: 0 2.4rem;
  }
}

@media (min-width: 481px) and (max-width: 640px) {
  .Header,
  .Main,
  .Aside,
  .Footer {
    padding: 0 3.2rem;
  }
}

.List {
  list-style-type: none;
  padding-left: 0 !important;
}

.List__Item {
  padding: 1.6rem 0;
}

.Share {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.Share__Item {
  font-size: 3.2rem;
  padding: 0.8rem;
}

.Share__Item a {
  color: #666;
}

.Share__Item .fa-facebook-square {
  color: #3b5998;
}

.Share__Item .fa-twitter {
  color: #55acee;
}

.Share__Item .fa-google-plus {
  color: #dc4e41;
}

.Pager {
  display: flex;
  flex-wrap: wrap;
}

.Pager__Item {
  display: flex;
  flex-grow: 1;
  padding: 0.8rem;
}

.Pager__Item i,
.Pager__Item a {
  align-self: center;
}

.Pager__Item--prev {
  justify-content: flex-end;
  text-align: right;
}

.Pager__Item--prev i {
  margin-left: 0.8rem;
}

.Pager__Item--next {
  justify-content: flex-start;
  text-align: left;
}

.Pager__Item--next i {
  margin-right: 0.8rem;
}
