.Container {
  display: flex;
  flex-direction: column;
  min-width: 32rem;
  max-width: 80rem;
  min-height: 100vh;
  margin: 0 auto;
  background: #fff;
}

.Header,
.Main,
.Aside,
.Footer {
  padding: 0 8%;
}

@media (max-width: 640px) {
  .Header,
  .Main,
  .Aside,
  .Footer {
    padding: 0 6%;
  }
}

@media (max-width: 480px) {
  .Header,
  .Main,
  .Aside,
  .Footer {
    padding: 0 4%;
  }
}

.Header__Title {
  font-size: 4.8rem;
  font-weight: bold;
  margin: 1.6rem 0;
  text-decoration: none;
  border-bottom: none;
}

.Header__Menu {
  display: flex;
}

.Header__MenuItem {
  padding: 0.8rem;
}

.Main p > img {
  display: block;
  margin: 0 auto;
}

.Media {
  display: flex;
  align-items: flex-start;
}

.Media__figure {
  margin-right: 2rem;
  border-radius: 50%;
  object-fit: cover;
}

.Media__body {
  flex: 1;
}

.Media__title {
  font-size: 2.4rem;
  font-weight: bold;
  color: #333;
}

.Banner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.Banner__Item {
  padding: 0.8rem;
}

.List {
  padding-left: 0 !important;
  list-style-type: none;
}

.List__Item {
  padding: 1.6rem 0;
}

.Share {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.Share__Item {
  padding: 0.8rem;
  font-size: 3.2rem;
}

.Share__Item a {
  color: #666;
}

.Share__Item .fa-facebook-square {
  color: #3b5998;
}

.Share__Item .fa-twitter-square {
  color: #55acee;
}

.Share__Item .fa-google-plus-square {
  color: #dc4e41;
}

.Pager {
  display: flex;
  flex-wrap: wrap;
}

.Pager__Item {
  display: flex;
  flex-grow: 1;
}

.Pager__Item i,
.Pager__Item a {
  align-self: center;
}

.Pager__Item--left {
  justify-content: flex-start;
}

.Pager__Item--left i {
  margin-right: 0.8rem;
}

.Pager__Item--right {
  justify-content: flex-end;
}

.Pager__Item--right i {
  margin-left: 0.8rem;
}
