/**
 * Components............Designed components, chunks of UI.
 */

.Container {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  max-width: 800px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: var(--light-bgcolor);
}

.Header,
.Main,
.Aside,
.Footer {
  padding: 0 8%;
}

@media (max-width: 640px) {
  .Header,
  .Main,
  .Aside,
  .Footer {
    padding: 0 6%;
  }
}

@media (max-width: 480px) {
  .Header,
  .Main,
  .Aside,
  .Footer {
    padding: 0 4%;
  }
}

.Header__Title {
  margin: 1em 0;
  border-bottom: none;
  font-size: 48px;
  font-weight: bold;
}

.Header__Title a,
.Header__Title a:visited,
.Header__Title a:active {
  color: var(--light-color-heading);
  text-decoration: none;
}

.Header__Menu {
  display: flex;
}

.Header__MenuItem {
  display: inline-flex;
  align-items: center;
  padding: 0.5em;
}

.Header__MenuItem img {
  width: 16px;
  margin-right: 0.25em;
}

.Media {
  display: flex;
  align-items: flex-start;
}

.Media__Figure {
  width: 120px;
  min-width: 120px;
  margin-right: 16px;
  border-radius: 50%;
  object-fit: cover;
}

.Media__Body {
  font-size: 14px;
}

.Media__Title {
  display: flex;
  align-items: center;
  margin: 0;
}

.Media__Title iframe {
  margin-left: 0.5em;
}

.Banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Banner__Item {
  padding: 0.5em;
}

.List {
  padding-left: 0 !important;
  list-style-type: none;
}

.Share {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.Share__Item {
  padding: 0.5em;
}

.Share__Item img {
  width: 32px;
  vertical-align: text-bottom;
}

.Pager {
  display: flex;
  flex-wrap: wrap;
}

.Pager__Item {
  display: flex;
  flex-grow: 1;
}

.Pager__Item i,
.Pager__Item a {
  align-self: center;
}

.Pager__Item--left {
  justify-content: flex-start;
}

.Pager__Item--left i {
  margin-right: 0.8rem;
}

.Pager__Item--right {
  justify-content: flex-end;
}

.Pager__Item--right i {
  margin-left: 0.8rem;
}
