div,
span,
header,
footer,
section,
article,
iframe {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
  color: #666;
  font-size: 16px;
  font-weight: normal;
  font-family: 'Noto Sans', Helvetica, Arial, sans-serif;
  line-height: 1.5;
  background: #fff;
}
::selection {
  color: #fff;
  background: #e2007a;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
h1 {
  color: #333;
  border-bottom: 1px solid #bbb;
  padding-bottom: 5px;
}
h2 {
  color: #333;
  border-bottom: 1px dashed #ddd;
  padding-bottom: 5px;
}
li {
  padding: 3px 0;
}
img {
  max-width: 100%;
}
table {
  border: 1px solid #ddd;
  border-radius: 4px;
}
td,
th {
  padding: 4px;
  border: 1px dashed #ddd;
  border-radius: 4px;
}
pre,
code {
  font-size: 14px;
  font-family: Consolas, 'Source Code Pro', monospace;
  background: #fdf6e3 !important;
  color: #657b83 !important;
  border-radius: 4px;
}
h1 > code {
  font-size: inherit;
  font-weight: normal;
}
h2 > code {
  font-size: inherit;
  font-weight: normal;
}
h3 > code {
  font-size: inherit;
  font-weight: normal;
}
code {
  padding: 4px;
  vertical-align: middle;
}
pre > code {
  display: block;
  overflow-x: scroll;
  padding: 10px;
}
blockquote {
  border-left: 5px solid #666;
  margin-left: 15px;
  padding-left: 15px;
  font-style: italic;
}
a {
  color: #199ad5;
  text-decoration: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
a:hover,
a:active,
a.is-active {
  color: #e2007a;
}
