div,
span,
header,
footer,
section,
article,
iframe {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background: #fff;
  color: #666;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.6;
  min-height: 100%;
}

::selection {
  background: #e2007a;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1,
h2,
h3 {
  color: #333;
  margin: 1.5em 0 1em 0;
}

li {
  padding: 0.25em 0;
}

img {
  max-width: 100%;
}

table {
  border: 1px solid #ddd;
  border-radius: 0.25em;
}

td,
th {
  border: 1px dashed #ddd;
  border-radius: 0.25em;
  padding: 0.5em;
}

code {
  background: #f8f8f8 !important;
  border: 1px solid #ddd;
  border-radius: 0.25em;
  color: #333 !important;
  font-family: "Roboto Mono", "Source Code Pro", monospace;
  font-size: 14px;
  margin: 1px 2px;
  padding: 1px 2px;
  position: relative;
}

pre > code {
  display: block;
  margin: 0.5em 0;
  overflow-x: scroll;
  padding: 0.5em;
}

h1 > code {
  font-size: inherit;
  font-weight: inherit;
}

h2 > code {
  font-size: inherit;
  font-weight: inherit;
}

h3 > code {
  font-size: inherit;
  font-weight: inherit;
}

blockquote {
  border-left: 0.25em solid #666;
  font-style: italic;
  margin: 2em 1em;
  padding-left: 1em;
}

hr {
  background-color: #e7e7e7;
  border: 0 none;
  height: 0.25em;
  margin: 2em 1em;
  padding: 0;
}

a {
  color: #199ad5;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-decoration: none;
  -webkit-touch-callout: none;
}

a:hover,
a:active,
a.is-active {
  color: #e2007a;
}

a code {
  color: #199ad5 !important;
}

a:hover code,
a:active code,
a.is-active code {
  color: #e2007a !important;
}
