div,
span,
header,
footer,
section,
article,
iframe {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background: #fff;
  color: #666;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  min-height: 100%;
}

::selection {
  background: #e2007a;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  border-bottom: 1px solid #bbb;
  color: #333;
  padding-bottom: 5px;
}

h2 {
  border-bottom: 1px dashed #ddd;
  color: #333;
  padding-bottom: 5px;
}

li {
  padding: 3px 0;
}

img {
  max-width: 100%;
}

table {
  border: 1px solid #ddd;
  border-radius: 4px;
}

td,
th {
  border: 1px dashed #ddd;
  border-radius: 4px;
  padding: 4px;
}

pre,
code {
  background: #fdf6e3 !important;
  border-radius: 4px;
  color: #657a81 !important;
  font-family: "Roboto Mono", "Source Code Pro", monospace;
  font-size: 12px;
}

h1 > code {
  font-size: inherit;
  font-weight: inherit;
}

h2 > code {
  font-size: inherit;
  font-weight: inherit;
}

h3 > code {
  font-size: inherit;
  font-weight: inherit;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre > code {
  display: block;
  overflow-x: scroll;
  padding: 10px;
}

blockquote {
  border-left: 5px solid #666;
  font-style: italic;
  margin-left: 15px;
  margin-right: 15px;
  padding-left: 15px;
}

hr {
  background-color: #e7e7e7;
  border: 0 none;
  height: 4px;
  margin: 16px 0;
  padding: 0;
}

a {
  color: #199ad5;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-decoration: none;
  -webkit-touch-callout: none;
}

a:hover,
a:active,
a.is-active {
  color: #e2007a;
}

a code {
  color: #199ad5 !important;
}

a:hover code,
a:active code,
a.is-active code {
  color: #e2007a !important;
}
