/**
 * Objects...............Cosmetic-free design patterns.
 */

.Label {
  margin: 0.25em;
  padding: 0.25em;
  border-radius: 0.25em;
  font-size: 12px;
  vertical-align: text-bottom;

  &.Label--gray {
    background: var(--light-bgcolor-backdrop);
    color: var(--light-color);
  }
}
