/**
 * Objects...............Cosmetic-free design patterns.
 */

.label {
  margin: 0.25em;
  padding: 0.25em;
  border-radius: 0.25em;
  font-size: 12px;
  vertical-align: text-bottom;

  &.gray {
    background: var(--bgcolor-backdrop);
    color: var(--color);
  }
}
