/**
 * Settings..............Global variables, config switches.
 */

:root {
  --light-color: #444;
  --light-bgcolor: #fff;
  --light-bgcolor-backdrop: #eee;
  --light-bordercolor: #ccc;
  --dark-color: #eee;
  --dark-bgcolor: #222;
  --dark-bgcolor-backdrop: #444;
  --dark-bordercolor: #ccc;
  --color: var(--light-color);
  --bgcolor: var(--light-bgcolor);
  --bgcolor-backdrop: var(--light-bgcolor-backdrop);
  --bordercolor: var(--light-bordercolor);
}

:root:has(#dark-mode:checked) {
  color-scheme: dark;

  --color: var(--dark-color);
  --bgcolor: var(--dark-bgcolor);
  --bgcolor-backdrop: var(--dark-bgcolor-backdrop);
  --bordercolor: var(--dark-bordercolor);
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;

    --color: var(--dark-color);
    --bgcolor: var(--dark-bgcolor);
    --bgcolor-backdrop: var(--dark-bgcolor-backdrop);
    --bordercolor: var(--dark-bordercolor);
  }
}
