.h1 {
  font-size: 2em;
  font-weight: bold;
}

.h2 {
  font-size: 1.5em;
  font-weight: bold;
}

.h3 {
  font-size: 1.17em;
  font-weight: bold;
}

.highlight {
  background: #f3df49;
  color: #2e2e2c;
}

.header {
  margin: 0 auto;
  padding: 0.5em;
  width: 100%;
  word-break: break-all;
}

.header-title {
  border-bottom: none;
  font-size: 3em;
  font-weight: bold;
  margin: 0.5em 0;
  text-decoration: none;
}

.header-menu {
  display: table;
}

.header-menu__item {
  display: table-cell;
  padding: 0.5em;
  vertical-align: middle;
}

.footer {
  margin: 0 auto;
  padding: 0.5em;
  text-align: right;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  max-width: 50em;
}

.aside {
  margin: 0 auto;
  padding: 0.5em;
  width: 100%;
  word-break: break-all;
}

.main {
  margin: 0 auto;
  padding: 0.5em;
  width: 100%;
  word-break: break-all;
}

.main p > img {
  display: block;
  margin: 0 auto;
}

.list {
  list-style-type: none;
  padding-left: 0 !important;
}

.list__item {
  padding: 1em 0;
}

.post-share {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.post-share__item {
  font-size: 2em;
  padding: 0.25em;
}

.post-share__item a {
  color: #666;
}

.post-share__item .fa-facebook-square {
  color: #3b5998;
}

.post-share__item .fa-twitter {
  color: #55acee;
}

.post-share__item .fa-google-plus {
  color: #dc4e41;
}

.post-nav {
  display: flex;
  flex-wrap: wrap;
}

.post-nav__item {
  display: flex;
  flex-grow: 1;
  padding: 0.5em;
}

.post-nav__item i,
.post-nav__item a {
  align-self: center;
}

.post-nav__item--prev {
  justify-content: flex-end;
  text-align: right;
}

.post-nav__item--prev i {
  margin-left: 0.5em;
}

.post-nav__item--next {
  justify-content: flex-start;
  text-align: left;
}

.post-nav__item--next i {
  margin-right: 0.5em;
}

.label {
  border-radius: 0.25em;
  font-size: 0.75em;
  margin: 0.25em;
  padding: 0.25em;
}

.label--gray {
  background: #eee;
  color: #666;
}

.label--red {
  background: #e2007a;
  color: #fff;
}

.label--blue {
  background: #199ad5;
  color: #fff;
}

.label--yellow {
  background: #f3df49;
  color: #2e2e2c;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clearfix::after {
  clear: both;
  content: "";
  display: table;
}
