.h1 {
  font-size: 3.2rem;
  font-weight: bold;
}

.h2 {
  font-size: 2.4rem;
  font-weight: bold;
}

.h3 {
  font-size: 2rem;
  font-weight: bold;
}

.highlight {
  background: #f3df49;
  color: #2e2e2c;
}

.Container {
  background: #fff;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 80rem;
  min-width: 32rem;
}

.Header {
  padding: 1.6rem;
  word-break: break-all;
}

.Header__Title {
  border-bottom: none;
  font-size: 4.8rem;
  font-weight: bold;
  margin: 1.6rem 0;
  text-decoration: none;
}

.Header__Menu {
  display: flex;
}

.Header__MenuItem {
  padding: 0.8rem;
}

.Main {
  padding: 1.6rem;
  word-break: break-all;
}

.Main p > img {
  display: block;
  margin: 0 auto;
}

.Aside {
  padding: 1.6rem;
  word-break: break-all;
}

.Footer {
  padding: 1.6rem;
  text-align: right;
}

.List {
  list-style-type: none;
  padding-left: 0 !important;
}

.List__Item {
  padding: 1.6rem 0;
}

.Share {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.Share__Item {
  font-size: 3.2rem;
  padding: 0.8rem;
}

.Share__Item a {
  color: #666;
}

.Share__Item .fa-facebook-square {
  color: #3b5998;
}

.Share__Item .fa-twitter {
  color: #55acee;
}

.Share__Item .fa-google-plus {
  color: #dc4e41;
}

.Pager {
  display: flex;
  flex-wrap: wrap;
}

.Pager__Item {
  display: flex;
  flex-grow: 1;
  padding: 0.8rem;
}

.Pager__Item i,
.Pager__Item a {
  align-self: center;
}

.Pager__Item--prev {
  justify-content: flex-end;
  text-align: right;
}

.Pager__Item--prev i {
  margin-left: 0.8rem;
}

.Pager__Item--next {
  justify-content: flex-start;
  text-align: left;
}

.Pager__Item--next i {
  margin-right: 0.8rem;
}

.Label {
  border-radius: 0.4rem;
  font-size: 1.2rem;
  margin: 0.4rem;
  padding: 0.4rem;
  vertical-align: text-bottom;
}

.Label--gray {
  background: #eee;
  color: #666;
}

.Label--red {
  background: #e2007a;
  color: #fff;
}

.Label--blue {
  background: #199ad5;
  color: #fff;
}

.Label--yellow {
  background: #f3df49;
  color: #2e2e2c;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clearfix::after {
  clear: both;
  content: "";
  display: table;
}
