.h1 {
  font-size: 2em;
  font-weight: bold;
}

.h2 {
  font-size: 1.5em;
  font-weight: bold;
}

.h3 {
  font-size: 1.17em;
  font-weight: bold;
}

.highlight {
  background: #f3df49;
  color: #2e2e2c;
}

.logo {
  height: 32px;
  margin-right: 10px;
  vertical-align: middle;
  width: 32px;
}

.header {
  margin: 0 auto;
  padding: 0.5em;
  width: 100%;
  word-break: break-all;
}

.header-title {
  border-bottom: none;
  font-size: 48px;
  font-weight: bold;
  margin: 0.5em 0;
  text-decoration: none;
}

.header-menu {
  display: table;
}

.header-menu__item {
  display: table-cell;
  padding: 0.5em;
  vertical-align: middle;
}

.footer {
  margin: 0 auto;
  padding: 0.5em;
  text-align: right;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  max-width: 800px;
}

.aside {
  margin: 0 auto;
  padding: 0.5em;
  width: 100%;
  word-break: break-all;
}

.main {
  margin: 0 auto;
  padding: 0.5em;
  width: 100%;
  word-break: break-all;
}

.main > .post-date + h1 {
  margin-top: 0;
}

.list {
  list-style-type: none;
  padding-left: 0 !important;
}

.list__item {
  padding: 1em 0;
}

.post-share {
  display: flex;
  flex-direction: row;
}

.post-share__item {
  font-size: 24px;
  padding: 0.25em;
  vertical-align: top;
}

.post-nav__item {
  padding: 0.25em;
}

.post-nav__item--next {
  text-align: left;
}

.post-nav__item--prev {
  text-align: right;
}

.fb-like-box {
  background: #fff;
}

.label {
  border-radius: 4px;
  font-size: 0.8em;
  margin: 4px;
  padding: 4px;
}

.label--gray {
  background: #eee;
  color: #666;
}

.label--red {
  background: #e2007a;
  color: #fff;
}

.label--blue {
  background: #199ad5;
  color: #fff;
}

.label--yellow {
  background: #f3df49;
  color: #2e2e2c;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clearfix::after {
  clear: both;
  content: "";
  display: table;
}
