.h1 {
  font-size: 3.2rem;
  font-weight: bold;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.h2 {
  font-size: 2.4rem;
  font-weight: bold;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.h3 {
  font-size: 2rem;
  font-weight: bold;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.highlight {
  color: #2e2e2c;
  background: #f3df49;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clearfix::after {
  display: table;
  clear: both;
  content: "";
}
