<aside class="Aside">
  <h1>Author</h1>
  <div class="Media">
    <img class="Media__figure" src="/img/1000ch.png" alt="1000ch" width="128" height="128">
    <div class="Media__body">
      <div class="Media__title">1000ch</div>
      <div class="Media__description">
        渋谷で働くフロントエンドエンジニア。Web技術の勉強をしています。 <a href="http://twitter.com/1000ch">Twitter</a> でつぶやいたり、書いたコードを <a href="http://github.com/1000ch">GitHub</a> に置いたり、撮った写真を <a href="http://instagram.com/1000ch/">Instagram</a> にあげたりしています。
      </div>
    </div>
  </div>
</aside>
