<div class="aside-profile">
  <h2><i class="fa fa-user fa--has-margin"></i>Who am I?</h2>
  <p>
    <img src="/img/1000ch.png" width="128" height="128" style="float: left;">
    I'm <a href='http://twitter.com/1000ch'>1000ch</a>. Engineer at <a href='https://www.cyberagent.co.jp/'>CyberAgent, Inc</a>. I worked as back-end engineer before, and now work as front-end engineer, performance evangelist, open-source geek. Particularly in recent, I write and speak about Web Components, WebRTC, ECMAScript 6. My little spare time is spent writing junk codes hosted on <a href='http://github.com/1000ch'>GitHub</a>.
  </p>
</div>
<div class="aside-elsewhere">
  <h2><i class="fa fa-plane fa--has-margin"></i>Elsewhere</h2>
  <div>
    <i class="fa fa-github fa--has-margin"></i>
    <a href="http://github.com/1000ch">GitHub</a>
  </div>
  <div>
    <i class="fa fa-twitter fa--has-margin"></i>
    <a href="http://twitter.com/1000ch">Twitter</a>
  </div>
  <div>
    <i class="fa fa-linkedin fa--has-margin"></i>
    <a href="http://www.linkedin.com/in/1000ch">LinkedIn</a>
  </div>
  <div>
    <i class="fa fa-flag fa--has-margin"></i>
    <a href="http://html5experts.jp/1000ch/">HTML5Experts.jp</a>
  </div>
  <div>
    <i class="fa fa-bookmark fa--has-margin"></i>
    <a href="https://pinboard.in/u:1000ch/">Pinboard</a>
  </div>
  <div>
    <i class="fa fa-flickr fa--has-margin"></i>
    <a href="https://www.flickr.com/photos/1000ch/">Flickr</a>
  </div>
  <div>
    <i class="fa fa-tumblr fa--has-margin"></i>
    <a href="http://1000ch.tumblr.com/">Tumblr</a>
  </div>
  <div>
    <i class="fa fa-instagram fa--has-margin"></i>
    <a href="http://Instagram.com/1000ch/">Instagram</a>
  </div>
</div>
<div class="aside-likebox">
  <h2><i class="fa fa-facebook-square fa--has-margin"></i>Facebook</h2>
  <div
    class="fb-like-box"
    data-href="https://www.facebook.com/1000ch.net" data-width="300"
    data-height="180"
    data-show-faces="true"
    data-header="false"
    data-stream="false"
    data-show-border="false"></div>
</div>
