<header class="header">
  <h1 class="header-title"><a href="/">1000ch.net</a></h1>
  <nav class="header-menu">
    <div class="header-menu__item">
      <i class="fa fa-rss fa--has-margin"></i>
      <a href="/rss.xml">RSS</a>
    </div>
    <div class="header-menu__item">
      <i class="fa fa-heart fa--has-margin"></i>
      <a href="/activity.html">Activity</a>
    </div>
    <div class="header-menu__item">
      <i class="fa fa-facebook-square fa--has-margin"></i>
      <a href="https://www.facebook.com/1000ch.net">Facebook</a>
    </div>
  </nav>
</header>