<aside class="post-share">
  <div class="post-share__item">
     <a href="https://www.facebook.com/sharer/sharer.php?u={{.Permalink}}" title="Share on Facebook" target="_blank">
       <i class="fa fa-facebook-square"></i>
     </a>
  </div>
  <div class="post-share__item">
    <a href="https://twitter.com/share?url={{.Permalink}}&text={{ .Title }}" title="Share on Twitter" target="_blank">
      <i class="fa fa-twitter"></i>
    </a>
  </div>
  <div class="post-share__item">
    <a href="https://plus.google.com/share?url={{.Permalink}}" title="Share on Google+" target="_blank">
      <i class="fa fa-google-plus"></i>
    </a>
  </div>
</aside>

<nav class="post-nav">
  {{with .Next}}
    <div class="post-nav__item post-nav__item--next">
      <i class="fa fa-arrow-left"></i>
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </div>
  {{else}}
  {{end}}

  {{with .Prev}}
    <div class="post-nav__item post-nav__item--prev">
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      <i class="fa fa-arrow-right"></i>
    </div>
  {{else}}
  {{end}}
</nav>
