<aside class="Share">
  <div class="Share__Item">
     <a href="https://www.facebook.com/sharer/sharer.php?u={{.Permalink}}" title="Share on Facebook" target="_blank">
       <i class="fa fa-facebook-square"></i>
     </a>
  </div>
  <div class="Share__Item">
    <a href="https://twitter.com/share?url={{.Permalink}}&text={{ .Title }}" title="Share on Twitter" target="_blank">
      <i class="fa fa-twitter-square"></i>
    </a>
  </div>
  <div class="Share__Item">
    <a href="https://plus.google.com/share?url={{.Permalink}}" title="Share on Google+" target="_blank">
      <i class="fa fa-google-plus-square"></i>
    </a>
  </div>
</aside>

<nav class="Pager">
  {{ with .Next }}
    <div class="Pager__Item Pager__Item--left">
      <i class="fa fa-arrow-left"></i>
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </div>
  {{ else }}
  {{ end }}

  {{ with .Prev }}
    <div class="Pager__Item Pager__Item--right">
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      <i class="fa fa-arrow-right"></i>
    </div>
  {{ else }}
  {{ end }}
</nav>
