footer.footer
  nav.post-nav
    .post-nav__item
      a(href='')
        i.fa.fa-arrow-left
        span.accent Prev
    .post-nav__item
      a(href='#top')
        i.fa.fa-arrow-up
        span.accent Top
    .post-nav__item
      a(href='')
        i.fa.fa-arrow-right
        span.accent Next