footer.footer
  nav.post-nav
    .post-nav__item
      a(href='')
        i.fa.fa-arrow-left
        span.accent Prev
    .post-nav__item
      a(href='#top')
        i.fa.fa-arrow-up
        span.accent Top
    .post-nav__item
      a(href='')
        i.fa.fa-arrow-right
        span.accent Next
  aside.post-share
    .post-share__item
      .fb-like(data-send='false', data-layout='box_count', data-width='80' data-show-faces='true')
    .post-share__item
      a.twitter-share-button(href='https://twitter.com/share', data-via='1000ch', data-lang='ja', data-related='anywhereTheJavascriptAPI', data-count='vertical') Tweetする
    .post-share__item
      a.hatena-bookmark-button(href='http://b.hatena.ne.jp/entry/', data-hatena-bookmark-layout='vertical-balloon', title='このエントリーをはてなブックマークに追加')
        img(src='http://b.st-hatena.com/images/entry-button/button-only.gif', alt='このエントリーをはてなブックマークに追加', width='20', height='20', style='border: none;')
    .post-share__item
      .g-plusone(data-size='tall', data-annotation='bubble')