header.header
  a(href='/')
    h1.header-title 1000ch.net
  nav.header-menu
    .header-menu__item
      i.fa.fa-rss.fa--has-margin
      a(href='/rss.xml') Feed
    .header-menu__item
      i.fa.fa-heart.fa--has-margin
      a(href='/activity.html') Activity
