header.header
  h1.header-title
    a(href='/') 1000CH.NET
  nav.header-menu
    .header-menu__item
      i.fa.fa-rss.fa--has-margin
      a(href='/rss.xml') Feed
    .header-menu__item
      i.fa.fa-heart.fa--has-margin
      a(href='/activity.html') Activity