header.header
  h1
    a(href='http://1000ch.net') 1000ch.net
  nav.header-menu
    .header-menu__item
      i.fa.fa-rss.fa--has-margin
      a(href='/rss.xml') Feed
    .header-menu__item
      i.fa.fa-heart.fa--has-margin
      a(href='/activity.html') Activity