script(src='https://apis.google.com/js/plusone.js', async)
script(src='https://platform.twitter.com/widgets.js', async)
script(src='http://b.st-hatena.com/js/bookmark_button.js', async)
script(src='//connect.facebook.net/ja_JP/all.js#xfbml=1&appId=453408378012572', async)
script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
script(src='/js/app.min.js')