<!doctype html>
<html>
  <head>
    {{ partial "meta.html" . }}
  </head>
  <body>
    <div class="header-container">
      {{ partial "header.html" . }}
    </div>
    <div class="container">
      <div class="main">
        <div class="main-content">
          <h1>
            <i class="fa fa-calendar fa--has-margin"></i>Posts
          </h1>
          <ul class="list">
            {{ range where .Data.Pages "Section" "posts" }}
              <li class="list__item">
                <div>
                  <span class="label label--gray">{{ .Date.Format "2006.01.02" }}</span>
                </div>
                <div class="h2">
                  <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                </div>
              </li>
            {{ end }}
          </ul>
        </div>
      </div>
      <div class="aside">
        <div class="aside-content">
          {{ partial "aside.html" . }}
        </div>
      </div>
    </div>
    <div class="footer-container">
      {{ partial "footer.html" . }}
    </div>
    {{ partial "script.html" . }}
  </body>
</html>