<!doctype html>
<html lang="ja">
  <head>
    {{ partial "meta.html" . }}
  </head>
  <body>
    <div class="Container">
      {{ partial "header.html" . }}
      <div class="Main">
        <h1>Posts</h1>
        <ul class="List">
          {{ range where .Data.Pages "Section" "posts" }}
            <li class="List__Item">
              <div>
                <span class="Label Label--gray">{{ .Date.Format "2006.01.02" }}</span>
              </div>
              <div class="h2">
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
              </div>
            </li>
          {{ end }}
        </ul>
      </div>
      {{ partial "aside.html" . }}
      {{ partial "footer.html" . }}
    </div>
    {{ partial "script.html" . }}
  </body>
</html>
