---
layout: default
---

img(src='/img/1000ch.png', width='128', height='128')

h2 About

p I am 1000ch.
p Engineer at CyberAgent, Inc.

h2 Else

ul
  li
    a(href='http://github.com/1000ch') GitHub
  li
    a(href='http://twitter.com/1000ch') Twitter