---
layout: default
---

h1 About

img(src='/img/1000ch.png', width='128', height='128')

| I am 1000ch.
| Engineer at CyberAgent, Inc.
| Interested in almost of web technical stuffs.

h1 Books

ul
  li
    | 2014.06.24 WebDBPress Vol.81
    br
    a(href='http://www.amazon.co.jp/gp/product/4774165786/')
      b.large フロントエンドエンジニア養成読本
  li
    | 2014.06.24 WebDBPress Vol.81
    br
    a(href='http://www.amazon.co.jp/gp/product/4774165069/')
      b.large Webフロントエンド最前線 WebRTC
  li
    | 2014.02.03 web creators特別号
    br
    a(href='http://www.mdn.co.jp/di/book/3213302006/')
      b.large HTML5完全読本 WebAudio & WebVideo

h1 Activity

ul
  li
    | 2014.06.21 Frontrend in Nagoya 
    a(href='http://html5nagoya.jp/frontrend')
      i.fa.fa-globe.fa-border
    br
    b.large Re-think about web performance 
    i.fa.fa-download.fa-border
  li
    | 2014.04.26 JSGirls Sapporo 
    a(href='http://jsgirls.org/events/sapporo-201404.html')
      i.fa.fa-globe.fa-border
    br
    b.large Chrome Extension Hands-on! 
    a(href='https://github.com/1000ch/chrome-extension-hands-on/wiki')
      i.fa.fa-download.fa-border
  li
    | 2014.03.08 JSGirls Tokyo 
    a(href='http://jsgirls.org/events/tokyo-201403.html')
      i.fa.fa-globe.fa-border
    br
    b.large Chrome Extension Hands-on! 
    a(href='https://github.com/1000ch/chrome-extension-hands-on/wiki')
      i.fa.fa-download.fa-border
  li
    | 2014.01.25 Frontrend in Fukuoka 
    a(href='http://frontendfrogs.org/frontrend')
      i.fa.fa-globe.fa-border
    br
    b.large Browser Computing Structure 
    a(href='https://speakerdeck.com/1000ch/browser-computing-structure')
      i.fa.fa-download.fa-border

ul
  li
    | 2013.12.07 Frontrend in Sapporo 
    a(href='http://sacss.net/special04')
      i.fa.fa-globe.fa-border
    br
    b.large Brush up your coding 2013 winter 
    a(href='https://speakerdeck.com/1000ch/brush-up-your-coding-2013-winter')
      i.fa.fa-download.fa-border
  li
    | 2013.10.23 HTML5 Beginners 
    a(href='http://frontrend.github.io/blog/html5beginners')
      i.fa.fa-globe.fa-border
    br
    b.large Brush up your Coding 
    a(href='https://speakerdeck.com/1000ch/brush-up-your-coding')
      i.fa.fa-download.fa-border
  li
    | 2013.05.25 Frontrend 
    a(href='http://frontrend.github.io/events/05')
      i.fa.fa-globe.fa-border
    br
    b.large Functional JavaScript with Lo-Dash.js 
    a(href='https://speakerdeck.com/1000ch/functional-javascript-with-lo-dash-dot-js')
      i.fa.fa-download.fa-border

h1 Elsewhere

ul
  li
    a(href='http://github.com/1000ch') GitHub
  li
    a(href='http://twitter.com/1000ch') Twitter