---
layout: default
---

h1 About

img(src='/img/1000ch.png', width='128', height='128')

p
  | I'm 1000ch. Engineer at CyberAgent, Inc.
p
  | I worked as back-end engineer before, and now work as front-end engineer, performance evangelist, open-source geek.
  | Particularly in recent, I write and speak about Web Components, WebRTC, MediaElements(WebAudio+WebVideo), ECMAScript 6.
  | My little spare time is spent writing junk codes which are hosted on GitHub.

h1 Books

ul
  li
    | 2014.07.02 Software Design plus
    br
    a(href='http://amzn.to/1pJubHW')
      b.large フロントエンドエンジニア養成読本
  li
    | 2014.06.24 WebDBPress Vol.81
    br
    a(href='http://amzn.to/1v7o8PW')
      b.large Webフロントエンド最前線
  li
    | 2014.02.03 web creators特別号
    br
    a(href='http://amzn.to/1pNpuQZ')
      b.large HTML5完全読本

h1 Speaker

ul
  li
    | 2014.07.28 第49回 HTMLとか勉強会
    br
    a(href='https://speakerdeck.com/1000ch/web-components-changes-web-development')
      b.large Web Components changes Web development
  li
    | 2014.06.21 Frontrend in Nagoya
    br
    a(href='https://speakerdeck.com/1000ch/re-think-about-web-performance')
      b.large Re-think about web performance 
  li
    | 2014.04.26 JS Girls Sapporo
    br
    a(href='https://github.com/1000ch/chrome-extension-hands-on/wiki')
      b.large Chrome Extension Hands-on!
  li
    | 2014.03.08 JS Girls Tokyo
    br
    a(href='https://github.com/1000ch/chrome-extension-hands-on/wiki')
      b.large Chrome Extension Hands-on! 
  li
    | 2014.01.25 Frontrend in Fukuoka
    br
    a(href='https://speakerdeck.com/1000ch/browser-computing-structure')
      b.large Browser Computing Structure 
  li
    | 2013.12.07 Frontrend in Sapporo
    br
    a(href='https://speakerdeck.com/1000ch/brush-up-your-coding-2013-winter')
      b.large Brush up your coding 2013 winter 
  li
    | 2013.10.23 第3回 HTML5ビギナーズ
    br
    a(href='https://speakerdeck.com/1000ch/brush-up-your-coding')
      b.large Brush up your Coding
  li
    | 2013.05.25 Frontrend Vol.5
    br
    a(href='https://speakerdeck.com/1000ch/functional-javascript-with-lo-dash-dot-js')
      b.large Functional JavaScript with Lo-Dash.js

h1 Elsewhere

ul
  li
    | GitHub: 
    a(href='http://github.com/1000ch') 1000ch
  li
    | Twitter: 
    a(href='http://twitter.com/1000ch') @1000ch
  li
    | LinkedIn: 
    a(href='http://www.linkedin.com/in/1000ch') in/1000ch
  li
    | HTML5Experts.jp: 
    a(href='http://html5experts.jp/1000ch/') 1000ch
  li
    | Pinboard: 
    a(href='https://pinboard.in/u:1000ch/') u:1000ch
