---
layout: default
---

h1
  i.fa.fa-book.fa--has-margin
  | Books

ul.list
  li.list__item
    div
      span.label.label--gray 2014.12.24
      | WEB+DB PRESS Vol.84
    .h2 Webフロントエンド最前線「フロントエンドのモジュール管理」
  li.list__item
    div
      span.label.label--gray 2014.10.24
      | WEB+DB PRESS Vol.83
    .h2
      a(href='http://amzn.to/1xrsmmf') Webフロントエンド最前線「Webフロントエンドの画像形式と最適化」
  li.list__item
    div
      span.label.label--gray 2014.07.02
      | Software Design plus
    .h2
      a(href='http://amzn.to/1pJubHW') フロントエンドエンジニア養成読本「JavaScript」「ECMAScript6」
  li.list__item
    div
      span.label.label--gray 2014.06.24
      | WEB+DB PRESS Vol.81
    .h2
      a(href='http://amzn.to/1v7o8PW') Webフロントエンド最前線「WebRTCでブラウザ間P2P通信」
  li.list__item
    div
      span.label.label--gray 2014.02.03
      | Web Creators特別号
    .h2
      a(href='http://amzn.to/1pNpuQZ') HTML5完全読本「Audio要素」「Video要素」

h1
  i.fa.fa-play-circle.fa--has-margin
  | Speaker

ul.list
  li.list__item
    div
      span.label.label--gray 2014.11.20
      a(href='http://2014.jsconf.asia') JSConf.Asia 2014
    .h2
      a(href='https://speakerdeck.com/1000ch/we-should-optimize-images')
  li.list__item
    div
      span.label.label--gray 2014.07.28
      a(href='https://atnd.org/events/53826') 第49回 HTMLとか勉強会
    .h2
      a(href='https://speakerdeck.com/1000ch/web-components-changes-web-development') Web Components changes Web development
  li.list__item
    div
      span.label.label--gray 2014.06.21
      a(href='http://html5nagoya.jp/frontrend/') Frontrend in Nagoya
    .h2
      a(href='https://speakerdeck.com/1000ch/re-think-about-web-performance') Re-think about web performance
  li.list__item
    div
      span.label.label--gray 2014.04.26
      a(href='http://jsgirls.org/events/sapporo-201404.html') JS Girls Sapporo
    .h2
      a(href='https://github.com/1000ch/chrome-extension-hands-on/wiki') Chrome Extension Hands-on!
  li.list__item
    div
      span.label.label--gray 2014.03.08
      a(href='http://jsgirls.org/events/tokyo-201403.html') JS Girls Tokyo
    .h2
      a(href='https://github.com/1000ch/chrome-extension-hands-on/wiki') Chrome Extension Hands-on!      
  li.list__item
    div
      span.label.label--gray 2014.01.25
      a(href='http://frontendfrogs.org/frontrend/') Frontrend in Fukuoka
    .h2
      a(href='https://speakerdeck.com/1000ch/browser-computing-structure') Browser Computing Structure      
  li.list__item
    div
      span.label.label--gray 2013.12.07
      a(href='http://sacss.net/special04/') Frontrend in Sapporo
    .h2
      a(href='https://speakerdeck.com/1000ch/brush-up-your-coding-2013-winter') Brush up your Coding 2013 winter      
  li.list__item
    div
      span.label.label--gray 2013.10.23
      a(href='https://atnd.org/events/44530') 第3回 HTML5ビギナーズ
    .h2
      a(href='https://speakerdeck.com/1000ch/brush-up-your-coding') Brush up your Coding      
  li.list__item
    div
      span.label.label--gray 2013.05.25
      a(href='http://frontrend.github.io/events/05/') Frontrend Vol.5
    .h2
      a(href='https://speakerdeck.com/1000ch/functional-javascript-with-lo-dash-dot-js') Functional JavaScript with Lo-Dash.js

h1
  i.fa.fa-trophy.fa--has-margin
  | Applications

ul.list
  li.list__item
    div Find unused and duplicate selectors
    .h2
      a(href='http://cssr.herokuapp.com') CSSR
  li.list__item
    div Simple RSS Reader with Python
    .h2
      a(href='http://cobra.herokuapp.com') Cobra