<aside class="Aside">
  <h1>Author</h1>
  <div class="Media">
    <picture>
      <source srcset="/img/1000ch.webp" type="image/webp">
      <img class="Media__Figure Media__Figure--oval" src="/img/1000ch.jpg" alt="Shogo Sensui" width="80" height="80">
    </picture>
    <div class="Media__Body">
      <h3 class="Media__Title">1000ch <a href="https://twitter.com/1000ch" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @1000ch</a></h3>
      <div class="Media__description">
        SIer でのプログラマを経て、株式会社サイバーエージェントにて Web 開発に従事。業務では Web プロダクトの品質改善と、Web 技術の啓蒙に取り組んでいる。日々、Web 標準技術の動向やアーキテクチャの流行を追いかけつつ、OSS活動にも励んでいる。
      </div>
    </div>
  </div>
</aside>
