<aside class="Aside">
  <h1>Author</h1>
  <div class="Media">
    <picture>
      <source srcset="/img/1000ch.webp" type="image/webp">
      <img class="Media__Figure Media__Figure--oval" src="/img/1000ch.jpg" alt="Shogo Sensui" style="min-width: 80px; width: 80px;">
    </picture>
    <div class="Media__Body">
      <h3 class="Media__Title">1000ch <a href="https://twitter.com/1000ch" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @1000ch</a></h3>
      <div class="Media__description">
        ソフトウェアエンジニア。SIer でのプログラマーを経て Web 業界に転職して以来、Web 技術に没頭する日々を送っている。Web 標準の動向やアーキテクチャの流行を追いかけつつ、技術啓蒙や OSS 活動に励んでいる。
      </div>
    </div>
  </div>
</aside>
