<footer class="footer">
  <h2>Preference</h2>
  <div class="preference">
    <label>
      <input type="checkbox" switch id="auto-phrase"> 日本語のフレーズ改行
    </label>
    <label>
      <input type="checkbox" switch id="dark-mode"> ダークモード
    </label>
  </div>
  <h2>Notice</h2>
  <ul class="notice">
    <li>コンテンツの正確性や信頼性には配慮していますが、必ずしもそれらを保証はしません。意見や見解は、個人の立場において述べたものであり、所属組織等を代表するものではありません。コンテンツの利用およびその結果に対し、一切の責任を負いかねます</li>
    <li>当サイトは amazon.co.jp を宣伝しリンクすることによって、サイトが紹介料を獲得できる手段を提供することを目的に設定されたアフィリエイト宣伝プログラムである、Amazon アソシエイト・プログラムの参加者です</li>
  </ul>
</footer>
