<footer class="Footer">
  <div class="Banner">
    <div class="Banner__Item">
      <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/deed.ja" target="_blank">
        <img src="/img/by-nc-nd.png" alt="CC BY-NC-ND 4.0" width="80" height="28">
      </a>
    </div>
    <div class="Banner__Item">
      <form action="https://duckduckgo.com/" role="search">
        <input name="sites" type="hidden" value="1000ch.net">
        <input name="q" type="search">
        <input type="submit" value="Search">
      </form>
    </div>
  </div>
</footer>
