<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{{ if eq .Title .Site.Title }}
  <title>{{ .Site.Title }}</title>
{{ else }}
  <title>{{ .Title }} - {{ .Site.Title }}</title>
{{ end }}
<link rel="manifest" href="/manifest.json" />
<link rel="icon" href="/favicon.png">
<link rel="shortcut icon" href="/favicon.png">
<link rel="shortcut icon" href="/favicon.svg" type="image/svg+xml" sizes="any">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.min.css">
<link rel="stylesheet" href="https://unpkg.com/@highlightjs/cdn-assets@11.11.1/styles/a11y-dark.min.css">
<link rel="stylesheet" href="/css/settings.css">
<link rel="stylesheet" href="/css/base.css">
<link rel="stylesheet" href="/css/layout.css">
<link rel="stylesheet" href="/css/components.css">
<link rel="stylesheet" href="/css/experiments.css">
<link rel="alternate" href="/rss.xml" title="1000ch.net" type="application/rss+xml">

<meta name="author" content="Shogo Sensui">
<meta name="copyright" content="Copyright (c) Shogo Sensui; Licensed under Creative Commons Attribution-Noncommercial-Share Japan">

{{ if .IsPage }}
  {{ if .Summary }}
    <meta property="og:description" content="{{ .Summary }}">
  {{ else }}
    <meta property="og:description" content="{{ .Site.Params.description }}">
  {{ end }}

  {{ if .Params.image }}
    <meta property="og:image" content="{{ .Site.BaseURL }}{{ .Params.image }}">
    <meta name="twitter:card" content="summary_large_image">
  {{ else }}
    <meta property="og:image" content="{{ .Site.BaseURL }}/img/apple-touch-icon.png">
    <meta name="twitter:card" content="summary">
  {{ end }}
{{ else }}
  <meta property="og:description" content="{{ .Site.Params.description }}">
  <meta property="og:image" content="{{ .Site.BaseURL }}/img/apple-touch-icon.png">
  <meta name="twitter:card" content="summary">
{{ end }}

<meta property="og:type" content="article">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:site_name" content="{{ .Site.Title }}">
<meta property="og:title" content="{{ .Title }}">

<meta name="twitter:site" content="@1000ch">
<meta name="twitter:url" content="{{ .Permalink }}">
<meta name="twitter:title" content="{{ .Title }}">

<meta name="google-site-verification" content="BWewniqiBzRmrhpj51eLwug-F4hamFfyznl-ARb-Y4Y">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/img/apple-touch-icon.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/apple-touch-icon.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/apple-touch-icon.png">
<link rel="apple-touch-icon-precomposed" href="/img/apple-touch-icon.png">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-49530352-1', '1000ch.net');
  ga('send', 'pageview');
</script>
