<aside class="Share">
  <div class="Share__Item">
    <button type="button" class="Share__Button">🔗 この記事をシェアする</a>
  </div>
</aside>

<div popover="auto" id="Popover">タイトルと URL をコピーしました</div>

<nav class="Pager">
  {{ with .PrevPage }}
    <div class="Pager__Item Pager__Item--left">
      <a href="{{ .RelPermalink }}">👈 {{ .Title }}</a>
    </div>
  {{ else }}
  {{ end }}

  {{ with .NextPage }}
    <div class="Pager__Item Pager__Item--right">
      <a href="{{ .RelPermalink }}">{{ .Title }} 👉</a>
    </div>
  {{ else }}
  {{ end }}
</nav>
