<aside class="nav">
  <button type="button" id="share-button">🔗 この記事をシェアする</button>
  <a href="https://github.com/1000ch/1000ch.net/edit/main/content/{{ .File.Path }}">🔗 この記事を GitHub で編集する</a>
  <div>
    {{ with .Prev }}
      <a href="{{ .RelPermalink }}">👈 {{ .Title }}</a>
    {{ else }}
    {{ end }}
  </div>

  <div>
    {{ with .Next }}
      <a href="{{ .RelPermalink }}">👉 {{ .Title }}</a>
    {{ else }}
    {{ end }}
  </div>
</aside>

<div popover="auto" id="popover">タイトルと URL をコピーしました</div>
