<script defer src="//apis.google.com/js/plusone.js"></script>
<script defer src="//platform.twitter.com/widgets.js"></script>
<script defer src="//platform.instagram.com/en_US/embeds.js"></script>
<script defer src="//assets.codepen.io/assets/embed/ei.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<script>
document.addEventListener('DOMContentLoaded', function () {
  var blocks = document.querySelectorAll('pre code');
  for (var i = 0, l = blocks.length; i < l; i++) {
    hljs.highlightBlock(blocks[i]);
  }
});

if (navigator.serviceWorker) {
  navigator.serviceWorker.register('/sw.js');
}
</script>
